.commonButton {
  padding: 16px 20px;
  max-width: 1720px;
  max-height: 55px;
  margin-right: 10px;
  color: #005aff;
  background-color: #ffffff;
  border-radius: 40px;
  border-color: #005aff;
  border: 1px solid;
}
.commonButtonForInviteCandidate {
  padding: 16px 20px;
  max-width: 1720px;
  max-height: 55px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #005aff;
  border-radius: 40px;
  border-color: #005aff;
  border: 1px solid;
}
.TableLayout {
  display: flex;
  padding: 10px 14px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.TableStyle {
  border-radius: 30px 30px 0px 0px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
  padding: 0 10px 0 5px;
}
.TableHead {
  border-radius: 6px;
  background: #edf4ff;
  padding: 10px !important;
}
.TableRow {
  padding: 30px !important;
  margin: 20px;
  border-bottom: 2px solid #a8b7c1;
  width: 100%;
  height: 107px;
  width: 1680px;
}
.skillsColorOne {
  color: #f00;
}
.skillsColorTwo {
  color: #ffcc48;
}
.table-foot-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #005aff;
  border-radius: 50px;
  height: 50px;
  color: #ffffff;
  margin: 10px auto;
  width: 200px;
  text-align: center;
}
